APP_PORT=3000

POSTGRES_PORT=5432
POSTGRES_DB=link_shortener
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DATA_PATH=/path/to/postgresql/data

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change-me
DB_NAME=link_shortener
DB_SSLMODE=disable

JWT_SECRET=change-me